{% extends 'base.html.twig' %}


{% block body %}

        {% include("menus/navigation.html.twig") %}
        {% include("headers/header.html.twig") %}


<div class ="col-lg-12 bg-light">
<div class ="container-sm">

 <br>
  <br>
 <br>  <br>

            <h2> {{ articles.contenu }}</h2>
            <h2> {{ articles.date | date('d/m/Y') }}</h2>
            {{articles.comentaire}}<br>        
                                                        Categorie: {{ articles.Categorie.Titre }} <br>
                    Auteur: {{ articles.Auteur.Nom }} <br>
                    Auteur: {{ articles.Auteur.Prenom }} <br>


</div>
</div>

{% endblock %}



{% block footer %} 
{% endblock%}